<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/index.css">
    <title>Portfolio</title>
</head>

<body>
    <!-- Header -->
    <section id="header">
        <div class="header container">
            <div class="nav-bar">
                <div class="brand">
                    <a href="#">
                        <h1><span>Pro</span>f&nbsp;<span>i</span>le</h1>
                    </a>
                </div>
                <div class="nav-list">
                    <div class="hamburger">
                        <div class="bar"></div>
                    </div>
                    <ul>
                        <li><a href="/profile" data-after="Home">Home</a></li>
                        <li><a href="/profile/aboutme" data-after="AboutMe">AboutMe</a></li>
                        <li><a href="/profile/skills" data-after="Skills">Skills</a></li>
                        <li><a href="/profile/contact" data-after="Contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            <div id="preogressbar"></div>
            <div id="scrollpath"></div>
            <div id="percent"></div>
        </div>

    </section>
    <!-- END Header -->
    <main>
        {{{body}}}
    </main>

</body>
<script src="/app.js"></script>

</html>