<section id="hero">
    <div class="hero container">
        <div>
            <h1>Hello<span></span></h1>
            <h1>My name is <span></span></h1>
            <h1>{{myData.name}}<span></span></h1>

        </div>
    </div>
</section>